.projectsContainer {
    display:flex; 
    justify-content:center; 
    flex-direction:column;
    font-size: 1.3rem;
    width:100vw;
    height:100vh;
    background-color: rgba(4, 65, 47, 0.5);
    overflow:scroll;
    position:fixed;
    /* margin:auto; */
}

.projectCardParent {
    display:flex;
    flex-direction: column-reverse;
    height:88vh;
    width:90vw;
    align-items:center;
    overflow:scroll;
    margin:auto;
}

.projectCard {
    background-color: rgba(255,255,255,.5);
    display:flex;
    flex-direction:column;
    margin:1rem;
    width:50rem;
    height: 40rem;
    padding:1rem;
    box-shadow: 3px 3px black;
    /* overflow: scroll; */
}

.projectContainerTitle {
    position:relative;
    left:6.8rem;
    top:.5rem;
    font-size:1.2rem;
}