.contactContainer {
    border:5px solid black;
    height:100vh;
    width:50vw;
    background-color: white;
    left:10vw;
    margin:auto;
    overflow:scroll;
    display:flex;
    /* flex-direction: column; */
    justify-content: space-around;
}





.socialLinkContainer {
    border:5px solid black;
    width:25rem;
    height:25rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.linkedinProfileLink:hover {
    background-color: black;
    border-radius: 1.5em;

}

.linkedinProfileLink {
    width:15vw;
    height:15rem;
}