.contactHeader  {
    height:5rem;
    width:100vw;
    background-color: slategray;
    position:sticky;
    top:15rem;
    display:flex;
    align-items:center;
}

.contactMeHeaderText {
    position:relative;
    left:3rem;
    font-size: 1.5rem;
}

@media (max-width:633px) {
    .contactContainer {
        display:flex;
        justify-content: space-between;
        flex-direction:column;
        height:25rem;
        width:99vw;
        border:5px solid black;
    }
}