.contactHeader  {
    height:3rem;
    width:100%; 
    background-color: slategray;
    position:sticky;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    left:1rem;
}

.contactMeHeaderText {
    position:absolute;
    font-size: 1.5rem;
    left:2rem;
}


.contactContainer {
    width:100vw;
    height:12rem;
    display:flex;
    position:absolute;
    background-color: slategray;
    justify-content: space-around;
    align-items: center;
    
}

@media (max-width:633px) {
    .contactContainer {
        display:flex;
        justify-content: space-evenly;
        flex-direction:column;
        height:45rem;
        width:50vw;
        background-color: slategray;
    }
}