
.header {
    height:10vh;
    width:100vw;
    /* background-color: rgba(255,255,255,.9); */
    background-color:slategray;
    /* box-shadow: 5px black; */
    display:flex;
    z-index:100;
    align-items: center;
    justify-content: space-around;
    position:sticky;
    color:black;
    top:0;
    z-index:1;
    overflow:none;
  }

  
  
  .navbarActive {
    display:flex;
    width:10rem;
    height:18rem;
    align-items: center;
    justify-content:space-around;
    flex-direction:column;
    position:absolute;
    transition: 500ms;    
    right:1rem;
    top:5.5rem;
    background-color:slategray;

  }

  .navbarHidden { 
    display:flex;
    width:20rem;
    height:8vh;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    position:absolute;
    transition: 500ms;    
    right:-25rem;
    top:14rem;
    display:none;
  } 

  .navbutton  {
    color:black;
    background-color: rgba(255,255,255,.4);
    list-style:none;
    padding:15px;
    margin:5px;
    text-decoration: none;
    
}

  .navbutton:hover {
    background-color: grey;
    color:white;
    text-decoration: none;

  }
  
  .menuIcon {
    position:absolute;
    color:black;
    right:2rem;
    transition:500ms;
  }

  .titleText {
    font-size: 2rem;
    position:absolute;
    left:2rem;
    font-family: 'Raleway', sans-serif;  
  }
  .fullstackTitle{
    font-size: 1.5rem;
  }

  .pathNameOnPage {
    position:absolute;
    left:50%;
    font-size: 1.5rem;
  }



  #linkedinNavLogo {
   width:2.5vw;
   height:2.5vh;
  }

  @media (max-width:633px) {
    /* .header {
      height:10vh;
      width:100vw;
    } */

    .navbarActive {
      display:flex;
      flex-direction:column;
      position:absolute;
      top:10vh;
      right:0;
      width:40vw;
      height:20rem;
      /* background-color: rgba(113,126,142, .5); */
      background-color:slategrey;
    }

    .navbarHidden {
      display:flex;
      flex-direction:column;
      position:absolute;
      top:3vh;
      right:-100vw;;
      width:70vw;
      height:20rem;
      background-color: rgba(113,126,142, .5);
    }

    .header {
      height:15vh;
    }

  }