
.header {
    height:10vh;
    width:100vw;
    background-color:rgba(0, 0, 0, 1);
    display:flex;
    z-index:100;
    align-items: center;
    position:fixed;
    color:white;
  }
  
  .navbar {
    display:flex;
    margin-left:auto;
  
  }
  
  .navbutton {
    width:10vw;
    height:3vw;
    justify-content: center;
    display:flex;
    align-items:center;
    position:relative;
    right:5vw;
    /* margin: 2em;     */
    font-size: 1.2rem;
    color:white;
  }

  .navbutton:hover {
    color: black;
    /* background-color:white; */
    background-color: lightgrey;
  }
  
  .titleText {
    font-size: 2rem;
    position:relative;
    left:10vw;
    font-family: 'Raleway', sans-serif;  
  }

  #logo-70 {
    position:relative;
    left:9vw;
  }

  #linkedinNavLogo {
   width:2.5vw;
   height:2.5vh;
  }