
.header {
    height:10vh;
    width:100vw;
    background-color: rgba(255,255,255,.5);
    box-shadow: 5px black;
    display:flex;
    z-index:100;
    align-items: center;
    position:fixed;
    color:black;
  }
  
  .navbarActive {
    display:flex;
    width:20vw;
    height:30vh;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    position:absolute;
    top:5rem;
    transition: 10s;    
    background-color:white;
    right:0;
  }

  .navbarHidden {
    display:none;
    width:100vw;
    height:15vh;
    transition: 5000ms;
    
  } 

  .navbutton {
    color:black;
    list-style:none;
    padding:15px;
  }
  
  .menuIcon {
    position:absolute;
    color:white;
    right:2rem;
  }

  .titleText {
    font-size: 1.5rem;
    position:absolute;
    left:10vw;
    font-family: 'Raleway', sans-serif;  
  }
  .fullstackTitle{
    font-size: 1.3rem;
  }



  #linkedinNavLogo {
   width:2.5vw;
   height:2.5vh;
  }