.App {
  width:100vw;
  height:100vh;
  background-color: black;
  position:fixed;
}

.appContainer {
  position:relative;
  top:10.2vh;
  width:100vw;
  height:80vh;
  /* background-color: black; */
  margin:auto;
  
}