* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.App {
  width:100vw;
  height:100vh;
  /* background-color: black; */
background: rgb(28,50,36);
background-image: linear-gradient(to right top, #f7f5f6, #e1dadf, #c8c0cb, #ada7b9, #9090a7, #7b859d, #657a93, #4d6f87, #3b6b7f, #2a6774, #1d6267, #185d58);  position:fixed;
  overflow-y:scroll;
}

.appContainer {
  position:relative;
  top:10.2vh;
  width:100vw;
  height:80vh;
  /* background-color: black; */
  margin:auto;

}