body {
  text-align: center;
  background-color: purple;
  margin:0;
  padding:0;
}

.titleText {
  color:white;
  position:relative;
  left:4vw;
  font-size:2em;
}

#logo-70 {
  position:relative;
  left:2vw;
}

