.aboutMeContainer {
    /* background-color: rgba(255,255,255,.4); */
    background-color:white;
    display:flex;
    flex-direction: column;
    height:80vh;
    width:100%;
    margin:auto;
    /* overflow:scroll; */
    z-index: index 5;
    justify-content:center;
}

@media (max-width:633px) {

    .aboutMeContainer {
        background-color:white;
    }

    .landingPagePhotoContainer {
        visibility:hidden;
    }

    .briefIntro {
        width:80vw;
        /* margin:auto; */
    }
  
    #aboutMeWelcome {

    }
}

#aboutMeWelcome {
    font-size:2rem;
}

.introContainer {
    /* background-color:blue; */
    height:55vh;
    width:25vw;
    position:absolute;
    right:9rem;
    top:5rem;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

.briefIntro {
    font-size:1.4rem;
    text-align:center;


}

.infoTextContainer{
    width:60vw;
    height: 80vh;
    font-size: 1.3rem;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index:5;
}

.landingPagePhotoContainer {
    background-color: slategray;
    height:70vh;
    width:50vw;
    position:relative;
    left:4rem;
    display:flex;
    align-items: center;
}

.landingPagePhoto {
    width:46vw;
    height:50vh;
    position:relative;
    left:.5rem;
    margin:auto;
}

.aboutMeText {
    /* width:60rem; */
    height:100rem;
    margin:auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top:3rem;
    /* padding: 5px; */
    /* overflow:scroll; */
    z-index: index 1;

}

.linkedinProfileLink:hover {
    background-color: black;
    border-radius: 1em;
}

.githubProfileLink:hover{
    background-color: black;
    border-radius: 1em;
}

.linkedinProfileLink {
    width:4rem;
    height:4rem;
    margin:auto;
    border-radius: 1em;

}

.socialLinkContainer {
    display:flex;
    flex-direction:column;
    width:4rem;
    height:4rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 1em;
}

.githubProfileLink {
    width:4rem;
    height:4rem;
    margin:auto;
    border-radius: 1em;
}

.contactContainer {
    background-color:rgba(255,255,255,.5);
    height:30vh;
    width:60rem;
    left:10vw;
    margin:auto;
    overflow:none;
    display:flex;
    align-items: center;
    flex-direction:row; 
    justify-content:space-around;
    margin:auto;
}

.emailButton {
    min-height:3.5rem;
    min-width:3.2vw;
    max-width:5vw;
}

.contactSubmitForm {
    background-color:rgba(255,255,255,.8);
}

.emailMeLabel {
    width:10rem;
    height:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:34rem;
    left:24rem;
    font-size:large
}